
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Tektur:wght@400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.container{
    display: flex;
    width: 95vw;
    height: 100vh;
    padding: 30px;
    gap: 20px;
    flex-direction: column;
}

h1{
    font-size: 4rem;
}
#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_bar{
    padding: 10px;
    width: 300px;
    height: 30px;
    border-radius: 50px;
}

#table{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#emoji_result{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.rows{
    display: flex;
    background: linear-gradient(to right, #28313B, #2D3436);
    margin: 10px;
    width: 200px;
    height: 200px;
    font-size: 2.3rem;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    gap: -10px;
    text-wrap: wrap;
    border-radius: 32px;
    transition: all .2s;
}
.rows:hover{
    transform: scale(1.03);
}
.newAliases{
    width: 100%;
    display: block;
    font-size: 1.2rem;
    text-wrap: wrap;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
    text-overflow: ellipsis;
}
.newAliases:first-letter{
    text-transform: uppercase;
}
.description{
    display: block;
    font-size: 1.2rem;
}
.description:first-letter{
    text-transform: uppercase;
}

@media screen and (max-width : 900px) {
    h1{
        font-size: 1.5rem;
    }
    #search_bar{
        padding: 10px;
        width: 200px;
        height: 30px;
        border-radius: 50px;
    }
    .rows{
        display: flex;
        margin: 2px;
        width: 80vw;
        height: 100px;
        font-size: 2rem;
        justify-content: space-between;
        text-align: center;
        padding: 0 10px 0;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
    .newAliases{
        width: 50%;
        display: block;
        font-size: 1rem;
        text-wrap: wrap;
        background-image: linear-gradient(60deg, #E21143, #FFB03A);
        background-clip: text;
        color: transparent;
        text-overflow: ellipsis;
    }
    .newAliases:first-letter{
        text-transform: uppercase;
    }
    
}